body, html
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Calibri;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.desktop
{
    width: 100%;
    height: 100%;
    background: url("swirl_pattern.png") fixed;
    background-color: rgba(0,130,255,0.7);
}

.appbar
{
    position: absolute;
    width: 100%;
    height: 36px;
    bottom: 0px;
    background-color: inherit;
    background-image: url("vertical.png");
    background-attachment: fixed;
    border-top: 1px solid rgba(0,0,0,0.2);
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.appbar .appicon
{
    width: 42px;
    height: 36px;
    opacity: 0.9;
    margin: 0px 5px;
    background-color: rgba(255,255,255,0.1);
    background-repeat: no-repeat;
    background-position: center 50%;
    transition: all 0.2s;
}
.appbar .appicon:hover
{
    background-color: rgba(255,255,255,0.3);
    background-position: center 0%;
}

.desktop .window
{
    position: absolute;
    min-width: 300px;
    min-height: 225px;
    width: 300px;
    height: 225px;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: column;
    flex-direction: column;
    
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: inherit;
    background-image: url("vertical.png");
    background-attachment: fixed;
    
    overflow: hidden;
    transform: none;
    transition: transform 0.2s, opacity 0.2s
}
.desktop .window.resize
{
    resize: both;
}
.desktop .window.resize:before
{
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 16px;
    height: 16px;
    cursor: nw-resize;
}
.desktop .window.destroy
{
    transform: scale(0.9,0.9);
    opacity: 0;
}
.desktop .window .top
{
    flex-grow: 0;
    flex-shrink: 0;
    height: 24px;
    position: relative;
    color: white;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    width: 100%;
    text-align: center;
    line-height: 24px;
}

.desktop .window .top .close
{
    position: absolute;
    right: 0px;
    width: 40px;
    height: 40px;
    top: -20px;
    background: rgba(0,0,0,0.3);
    box-shadow: 0 0;
    border-radius: 100%;
    transition: background 0.1s, box-shadow 0.1s;
}
.desktop .window .top .close:hover
{
    background: rgba(255,255,0,0.9);
    box-shadow: 0 0 10px 0px yellow;
}

.desktop .window .content
{
    position: relative;
    flex:auto;
    margin: 4px;
    background: white;
    -webkit-touch-callout: initial; 
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}